#clubsCheck{
    width:97%;
    margin-left:3%;


}

#clubsCheck > label { width: 25%;padding-top:12px;font-size: 120%; }

#clubs{
    position: absolute;
    width:300px;
    display:block;
    margin-left:10px;
    text-align: center;
    top: 110px;
    height: 358px;
    overflow:hidden;
    background-color: gray;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}
#clubs > label { width: 50%;padding-top:15px;font-size: 120% }

#shots{
    display:none;
    position: absolute;
    background-color: gray;
    width:250px;
    display:block;
    margin-left:35px;
    text-align: center;
    top: 100px;
    height: 330px;
}
#shots > label{
    margin-top:10px;
    font-size: 120%;

}
#fairway,#green,#dist,#endofRound{
    background-color: gray;
    position:absolute;
    width:240px;
    height:100px;
    margin-top:-265px;
    text-align: center;
    margin-left:40px;
   font-size: 130%;
    border-radius: 5px;
}
#holeOut{
    background-color: gray;
    position:absolute;
    width:240px;
    height:150px;
    margin-top:-285px;
    text-align: center;
    margin-left:40px;
    font-size: 130%;
    border-radius: 5px;

}
#number{
    background-color: gray;
    position:absolute;
    width:240px;
    height:200px;
    margin-top:0px;
    text-align: center;
    margin-left:40px;
    font-size: 130%;
    border-radius: 5px;
}
#yds{
    display:none;
    position:absolute;
    width:130px;
    margin-left:170px;
    top:252px;
    color:rgb(64,255,64);
    font-size:75%
}
#zip{
    position: absolute;
    background-color: gray;
    width:320px;
    display:block;
    margin-left:0px;
    text-align: center;
    top: 55px;
    height: 200px;
    border-radius: 5px;
}
#ydss{

    position:absolute;
    width:130px;
    margin-left:170px;
    top:252px;
    color:rgb(64,255,64);
    font-size:75%
}
#came,#exit{
    text-align: center;
    width:310px;
    height:45px;
    margin-top:-50px;
    margin-left:5px;
    position:absolute;
    background-color: gray;
    border-radius: 5px;
    display:none
}
#screenshot{
    text-align: center;
    width:310px;
    height:70px;
    margin-top:-75px;
    margin-left:5px;
    position:absolute;
    background-color: gray;
    border-radius: 5px;
    display:none
}