<div class='container-fluid' ng-controller="settingCtrl" style="margin:0 auto;width:320px;height:480px;background-image: url('img/2_rndStart.jpg')">
    <br/>
    <br/>
    <br/>
    <form style="width:99%;margin:0 auto">
    <input type="text" style="width:88%;margin-left:6%" class="form-control" placeholder="Enter Home Golf Course" ng-model ="homeCourse" />
    <input type="text" style="width:88%;margin-left:6%;margin-top:5px" class="form-control" placeholder="Enter Brand of Balls" ng-model="balls"/>
    <input type="text" style="width:88%;margin-left:6%;margin-top:5px" class="form-control" placeholder="Enter Name of Golf Pro" ng-model ="pro"/>
    <input type="text" style="width:88%;margin-left:6%;margin-top:5px" class="form-control" placeholder="Enter Brand of Putter" ng-model ="putterB"/>
    <input type="text" style="width:88%;margin-left:6%;margin-top:5px" class="form-control" placeholder="Enter Brand of Irons" ng-model ="ironB"/>
    <input type="text" style="width:88%;margin-left:6%;margin-top:5px" class="form-control" placeholder="Enter Brand of Wedges" ng-model ="wedgesB"/>
    <input type="text" style="width:88%;margin-left:6%;margin-top:5px" class="form-control" placeholder="Enter Brand of Woods" ng-model ="woodB"/>
    <input type="text" style="width:88%;margin-left:6%;margin-top:5px" class="form-control" placeholder="Enter Brand of Driver" ng-model ="driverB"/>

  <button id="submit" ng-click="onSubmit()" style="margin-top:25px;margin-left:66%;width:80px;height: 30px;opacity:0">Go Play</button>
</form>
</div>